<p>task-a is demonstrated here...</p>

<h4> Fruit Popularity Chart</h4>


<div class="chart-container">
    <div *ngFor="let fruit of fruitKeys" 
         class="bar" 
         [style.width]="(fruitCounts[fruit] * 10) + 'px'"
         [class.selected]="fruit === selectedFruit"
         (click)="selectFruit(fruit)">
      {{ fruit }} ({{ fruitCounts[fruit] }})
    </div>
  </div>
  
  <h3>People List</h3>
  <ul>
    <li *ngFor="let person of apiData" 
        [hidden]="selectedFruit && person.favoriteFruit !== selectedFruit">
      {{ person.name }} - Favorite Fruit: {{ person.favoriteFruit }}
    </li>
  </ul>


